
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> PHPStorm ###
/.idea
###< PHPStorm ###

###> php-cs-fixer ###
/tools/php-cs-fixer/vendor/
.php-cs-fixer.cache
###< php-cs-fixer ###

###> php_codesniffer ###
/tools/php_codesniffer/vendor/
###< php_codesniffer ###

###> deptrac-shim ###
/tools/deptrac-shim/vendor/
.deptrac.cache
###< deptrac-shim ###