{# @backend/Dashboard/Presentation/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    <p>Hello Backend!</p>
{% endblock %}